
VS/

Tecplot_print_all_gran_in_surface_BS.txt

Tecplot_print_all_gran_in_surface_HP.txt

Tecplot_print_all_gran_in_surface_TS.txt

Tecplot_Tecplot_print_1D_(1, 0, 0)_.txt

Tecplot_Tecplot_print_2D__2d_(0, 0, 1, 0)_.txt

HP_srez__2d_(0, 0, 1, 0)_.txt

TS_srez__2d_(0, 0, 1, 0)_.txt
